<div class="page-header">

    <h2>{{ title }}</h2>
    {{#if users}}
    <ul>
    {{#each users}}
        <li data-id="{{ id }}">{{ name }} {{ lastName }}</li>
    {{/each}}
    </ul>
    {{/if}}

</div>